.create-moodboard-modal {
  position: absolute;
  top: 130px;
  left: -25px !important; /* Принудительно задаем отступ слева */
  right: -15px !important; /* Принудительно задаем отступ справа */
  bottom: auto;
  width: calc(100% - 40px) !important; /* Принудительно вычисляемая ширина с отступами */
  width: 450px !important; /* Ограничиваем максимальную ширину */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1002; /* Модальное окно выше overlay */
}

.modal-image {
  width: calc(100% - 80px) !important; /* Учитываем отступы слева и справа */
  height: 150px; /* Фиксированная высота */
  background-size: cover; /* Изображение будет обрезаться по размеру контейнера */
  background-position: center; /* Центрируем изображение */
  margin-bottom: 20px;
  margin-left: 40px; /* Отступ слева */
  margin-right: 40px; /* Отступ справа */
  margin-top: 50px; /* Отступ сверху */
}

.close-button {
  position: absolute;
  top: 5px;
  left: 15px;
  border: none;
  background: none;
  font-size: 70px; /* Уменьшаем размер шрифта */
  font-weight: 100; /* Делаем текст более тонким */
  cursor: pointer;
  color: #2a6041;
  line-height: 1; /* Уменьшаем межстрочное расстояние */
}

.moodboard-name,
.add-collaborator,
.category,
.toggle-switch {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.moodboard-name input,
.add-collaborator input,
.category select {
  padding: 10px;
  border: 2px solid #2f4f4f;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 5px; /* Отступ для полей ввода */
}

.toggle-switch {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.toggle-switch label {
  font-size: 16px;
  margin-right: 10px;
}

.toggle-switch input[type="checkbox"] {
  width: 40px;
  height: 20px;
}

label {
  margin-bottom: 5px;
  font-size: 16px;
  color: #2f4f4f;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;
}

.back-button,
.create-button {
  width: 45%;
  padding: 10px;
  border-radius: 50px;
  font-size: 16px;
  border: 2px solid #2f4f4f;
}

.back-button {
  background-color: #f478c2;
  color: #2f4f4f;
}

.create-button {
  background-color: #6bff46;
  color: #2f4f4f;
}

.back-button:hover,
.create-button:hover {
  border-color: #2f4f4f;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
}

.back-button {
  background-color: #f478c2 !important;
  color: #2f4f4f !important;
  width: 80px;
  height: 40px;
  border-radius: 100px !important;
  border-color: #2f4f4f !important;
  border: 2px solid #2f4f4f;
}

.back-button:hover {
  border-color: #2f4f4f;
}

.create-button {
  background-color: #6bff46 !important;
  color: #2f4f4f !important;
  width: 80px;
  height: 40px;
  border-radius: 100px !important;
  border-color: #2f4f4f !important;
  border: 2px solid #2f4f4f;
  margin-top: 20px;
}
