.moodboard-selection-modal {
  position: absolute;
  top: 10px; /* Отступы для модального окна */
  left: 25px;
  right: 20px;
  bottom: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.moodboard-overlay {
  position: absolute;
  width: 400px;
  height: 860px;
  background: rgba(243, 232, 205, 0.5); /* Полупрозрачный фон для overlay */
  z-index: 999;
}

.modal-content {
  background: white;
  padding: 30px;
  border-radius: 30px !important;
  width: 100%;
  max-width: 450px;
  max-height: 90vh;
  overflow-y: auto;
  box-sizing: border-box;
  position: relative;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  text-align: center;
  border: 1px solid #ff4081;
  z-index: 1001; /* Модальное окно поверх overlay */
}

.close-button {
  position: absolute;
  top: 5px;
  left: 15px;
  border: none;
  background: none;
  font-size: 70px;
  font-weight: 100;
  cursor: pointer;
  color: #ff4081;
}

h1 {
  color: #ff4081 !important;
  font-size: 26px;
  margin-bottom: 20px;
  text-align: center;
}

.search-input {
  width: 50%;
  padding: 14px;
  margin-bottom: 20px;
  border-radius: 30px;
  border: 2px solid #2a6041;
  font-size: 16px;
  padding-right: 40px;
  background-image: url('../assets/search-icon.png');
  background-position: right 10px center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
}

.moodboard-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.moodboard-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 14px;
  margin-bottom: 20px;
  background: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  justify-content: flex-start;
  width: 100%;
  max-width: 350px;
}

.moodboard-item img {
  width: 70px;
  height: 70px;
  object-fit: cover;
  margin-left: 30px;
}

.moodboard-item:hover {
  background: #f4f4f4;
}

.create-board-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
  padding: 10px 20px;
  background: none;
  border: none;
  color: #2a6041;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  max-width: 350px;
}

.create-board-button img {
  width: 60px;
  height: 60px;
  border: 2px solid #2a6041;
  padding: 4px;
  margin-left: 10px;
}

.create-board-button:hover {
  background: #f4f4f4;
}